.navbar{
    background-color: lightblue;
}

.navbar .nav-link {
    margin-right: 30px; /* Ajoute une marge de 10 pixels à droite de chaque élément de navigation */
  }


.button-nav {
    color: blue;
    margin-left: auto; /* Déplace le bouton vers la droite pour qu'il soit aligné à droite de la navigation */
  }