

/* .register{
    margin-top: 30px;
    height: 460px;
    background: #eee;
    border-radius:60%/10% ;
    transform: translateY(-180px);
    transition: 0.8s ease-in-out;





} */

.register{
    text-align:center;
    margin-bottom: 90px;
    font-size: 2.3em;
    font-weight: bold;
    color: #fff;
    background-color: #dc3545;
    border-radius: 70px;
}

.register-body{
    margin-top: 20%;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
      
    /* background: linear-gradient(to bottom,#0f0c29,#302b63); */
}

.register-main{
    margin:auto;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background: #17a2b8;
    border-radius: 40px;
    box-shadow: 5px 20px 50px #000;
}



.register-label{


    color:#fff;
    font-size:1.3em;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    margin-left: 13%;
    /* transform: scale(0.6); */
}

.register-input{
    position: relative;
    border-radius: 25px;
    max-width: 300px;
    width: 100%;
    height: 40px;
    background: #e0dede;
    font-size: 16px;
    margin: auto;
    border: none;
    outline: none;
    display: flex;
    margin-top: -12px;

}





/* Button{
    width: 60px;
    height: 40px; ;
    margin: 10px auto;
    justify-content:center ;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border:none;
} */

.register-button{

     cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;

 
}
