 /* *{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
/*
body{
    display: flex; 
     justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6; 
} */ 
